{# Header desktop #}
<div 
	x-data="{ isOpen: false }"
	x-effect="document.body.style.overflow = isOpen ? 'hidden' : ''"
	style="box-shadow: 0px 0px 64px 0px #00000026; background: linear-gradient(179.98deg, rgba(0, 0, 0, 0.2125) 0.01%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.25) 84.99%), #242449;"
	class="sm:sticky sm:top-0 z-10 text-white"
>
	<header class="flex flex-col gap-8 p-6 py-16 sm:flex-row sm:py-8 sm:justify-between md2:items-center">
		{# Logo #}
		<div class="flex items-center justify-center">
			<a href="/" class="block">
				<img class="hidden sm:block w-64" src="{{ siteUrl('assets/images/mpaud-logo-h.png') }}" alt="Mornington Peninsula Audiology">
				<img class="w-44 sm:hidden" src="{{ siteUrl('assets/images/mpaud-logo-v.png') }}" alt="Mornington Peninsula Audiology">
			</a>
		</div>
		<div class="flex items-center gap-8 justify-center">
			{# Primary Desktop menu #}
			<nav role="navigation" aria-label="Primary" class="md2:flex items-center gap-8">
				<div class="flex flex-col items-center gap-2">
					<span class="text-sm sm:hidden">Book an appointment:</span>
					<a href="tel:+61359552013" class="bg-white text-mpaDarkBlue fill-mpaDarkBlue flex items-center justify-center gap-2 p-4 px-6 rounded-full hover:bg-mpaLightBlue hover:text-white hover:fill-white transition-colors duration-200">
						<svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.7923 1.4807L7.52242 2.78899C8.18133 3.96966 7.91685 5.5185 6.87904 6.55629C6.87904 6.55629 5.62036 7.81517 7.90256 10.0975C10.1841 12.379 11.4437 11.121 11.4437 11.121C12.4815 10.0832 14.0303 9.81869 15.211 10.4776L16.5193 11.2077C18.3022 12.2027 18.5127 14.7029 16.9456 16.27C16.004 17.2116 14.8504 17.9444 13.5753 17.9926C11.4286 18.0741 7.78308 17.5308 4.12616 13.8739C0.469273 10.2169 -0.0740114 6.57139 0.00737108 4.42474C0.0557123 3.14956 0.788402 1.99601 1.73004 1.05439C3.29711 -0.512686 5.79731 -0.30213 6.7923 1.4807Z" fill="currentColor"/>
						</svg>
						<span class="font-bold italic md2:hidden">(03) 5955 2013</span>
					</a>
				</div>
			</nav>
		</div>
	</header>
	<div class="h-2 w-full bg-gradient-to-r from-[#00A7EA] via-[#16BAAD] to-[#C8DF8A]"></div>
</div>
