{% extends "_layouts/default" %}

{% block content %}

	<div class="page__content">
		<div class="container mx-auto pb-10">
			
			<div class="pt-10 pb-4 text-center">
				<h1 class="mb-0 pb-0">{{ entry.title }}</h1>
			</div>

			{% for pageContent in entry.pageBuilder.all() %}
				{% set typeHandle = pageContent.type.handle %}

				{% switch typeHandle %}
					{% case 'richText' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/rich-text" with { block: pageContent } %}
						</div>
					{% case 'richTextImage' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/rich-text-image" with { block: pageContent } %}
						</div>
					{% case 'calloutBanner' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/callout-banner" with { block: pageContent } %}
						</div>
					{% case 'cards' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/cards" with { block: pageContent } %}
						</div>
					{% case 'linkCards' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/link-cards" with { block: pageContent } %}
						</div>
					{% case 'callToAction' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/call-to-action" with { block: pageContent } %}
						</div>
					{% case 'highlightBoxes' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/highlight-boxes" with { block: pageContent } %}
						</div>
					{% case 'locationsMap' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/locations-map" with { block: pageContent } %}
						</div>
					{% case 'customerReviews' %}
						<div class="pt-4 pb-12">
						{% include "_partials/entry/customer-reviews" with { block: pageContent } %}
						</div>
					{% default %}
				{% endswitch %}
			{% endfor %}

		</div>
	</div>

{% endblock %}
