{% if block.title %}<h2 class="text-center">{{ block.title }}</h2>{% endif %}
<div class="">
  <script src="https://elfsightcdn.com/platform.js" async></script>
  <div class="elfsight-app-565e6d44-8817-4985-9da3-0fb2facbfdeb" data-elfsight-app-lazy></div>
</div>