{% import '_utilities/image' as img %}

<section class="my-10 md:my-14 lg:my-16">
	<div>
		<ul class="m-0 md:mx-auto flex flex-wrap justify-evenly md:justify-center gap-10 md:gap-16 lg:gap-24 list-none">
			{% for block in entry.images.all() %}
				<li class="m-0 list-none">
					<a href="{{ block.navLink.url }}" class="block no-underline hover:text-[#00235D] text-inherit w-[80px] md:w-[100px] lg:w-[138px] h-auto" target="{{ block.navLink.target }}">
						{{ img.pictures(block.chosenIcon.eagerly().all()) }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
