{% set columns = entry.multiColumnCards %}

{% from "_utilities/button.twig" import button %}

{# Determine vertical alignment classes #}
{% set verticalAlign = entry.verticalAlignment.value ?? 'top' %}
{% set verticalAlignClass = {
  'top': 'items-start',
  'middle': 'items-center',
  'bottom': 'items-end'
}[verticalAlign] %}

{# columns #}
<section class="relative my-10 md:my-14 lg:my-16">
	<div class="shadow-section relative bg-white mx-auto p-6 lg:p-12 rounded-md">
		<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-12 lg:gap-16 justify-center {{ verticalAlignClass }} {{entry.ctaLink ? 'mb-12' : ''}}">
			{% for column in columns %}
				<div class="relative overflow-hidden">
					<div class="rich-text h-auto [&>*:last-child]:mb-0">
						{{ column.text }}
					</div>
				</div>
			{% endfor %}
		</div>

		{% if entry.ctaLink %}
		<div class="mt-0 pb-2.5 flex justify-center w-full col-span-full">
			{{ button(label = entry.ctaLink.label, url = entry.ctaLink.url, target = entry.ctaLink.target) }}
		</div>
		{% endif %}
	</div>
</section>
