/* Fonts are imported from Google Fonts in the layout file */

[x-cloak] {
  display: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Libre Franklin", "sans-serif";
  }

  body {
    background: linear-gradient(180deg, #FFFFFF 9.01%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, rgba(0, 167, 234, 0.12) 0%, rgba(22, 186, 173, 0.12) 50%, rgba(200, 223, 138, 0.12) 100%);
  }

  /* headings */
  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  /* general links */
  p {
    color: inherit;
  }

  a {
    
  }

  main div a,
  main p a {
    @apply underline;
  }

  /* horizontal rule */
  hr {
  }

  /* paragraphs */
  p {
    @apply text-base md:text-lg leading-relaxed mb-6;
  }

  /* lists */
  ul,
  ol {
    @apply mb-6 ml-4 md:ml-6 text-base md:text-lg leading-relaxed;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    @apply mb-0 mt-2;
  }

  li {
    @apply mb-2;
  }

  /* li:last-child {
    @apply mb-0;
  } */
}

@layer components {
  .button {

  }

  /* ------ rich text ------ */
  /* .rich-text {} */

  .rich-text ul {
  }

  .rich-text ul li {
  }

}
