/* Fonts are imported from Google Fonts in the layout file */

[x-cloak] {
  display: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Libre Franklin", "sans-serif";
  }
  body {
    background: linear-gradient(180deg, #FFFFFF 9.01%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, rgba(0, 167, 234, 0.12) 0%, rgba(22, 186, 173, 0.12) 50%, rgba(200, 223, 138, 0.12) 100%);
    background-attachment: fixed;
    @apply text-mpaDarkBlue;
  }
  .page__content {
    @apply py-6 md:py-8;
  }

  /* headings */
  h1 {
    @apply text-4xl font-bold mb-6;
  }

  h2 {
    @apply text-3xl font-bold mb-4;
  }

  h3 {
    @apply text-xl font-bold mb-2;
  }

  h4 {
  }

  /* general links */
  p {
    color: inherit;
  }

  a {
    @apply text-mpaLightBlue hover:text-mpaDarkBlue transition-colors duration-200;
  }
  a.is-active {
    @apply text-mpaYellow;
  }

  main div a,
  main p a {
    @apply underline;
  }

  /* horizontal rule */
  hr {
  }

  /* paragraphs */
  p {
    @apply text-base leading-relaxed mb-6;
  }
  p:last-child {
    @apply mb-0;
  }

  /* lists */
  ul,
  ol {
    @apply mb-6 ml-4 md:ml-6 text-base leading-relaxed;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    @apply mb-0 mt-2;
  }

  li {
    @apply mb-2;
  }
}

@layer components {
  .button {

  }

  /* ------ rich text ------ */
  /* .rich-text {} */

  .rich-text ul {
  }

  .rich-text ul li {
  }

}
